* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#submit,
#location-btn,
#save-btn {
  width: 100%;
}

.justify-content{
  align-content: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

blockquote {
  border-color: #26a69a;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

footer a {
  margin: 0 1rem;
}

h5 {
  margin: 0;
}

@media screen and(max-width: 1024px) {
  nav{
    position: sticky;
  }
}